node_modules/
eng.traineddata
data/extract_run.log
data/video_pipeline/
data/video_pipeline_*/
data/video_ocr_probe/
data/my_videos/
data/my_videos_*/
data/my_videos_v*/
data/price_cache/
sample_screenshots.lnk
